* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

p {
  margin-bottom: 0; }

::after, ::before {
  box-sizing: content-box; }

body {
  background: #eceef2; }

.main-content {
  width: calc(100% - 350px); }
